@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


body{
    font-family: "Inter", sans-serif;
    
    
}



:root{
    --primary: #E95A08;
    --secondary: rgba(0, 0, 0, 0.5);
    --tertiary: rgb(0, 0, 0);
}


.noto{
    font-family: "Noto Serif", serif;
    font-weight: 700;
}

.inter{
    font-family: "Inter", sans-serif;
}


.title{
    font-family: "Noto Serif", serif;
    font-weight: 700;
    font-size: 3.125rem;
    line-height: 4.25rem;
}



.description{
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: var(--secondary);
}

a:hover{
    color: black;
    font-weight: 700;
}

button:hover{
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: #c2510f;
}

.primary{
    color: var(--primary);
}

.bg-primary{
    background-color: #E95A08;
}

.secondary{
    color: var(--secondary);
}

.dark-gray{
    color: var(--tertiary);
}

.btn-cart:hover{
    background-color: #a13b00;
    transform: scale(1.08);
    border-radius: 12px;

}

.cart{
    transition: transform 0.5s ease;
    border-radius: 12px;
    border: 1px solid #e65a09;
}

.btn-cart{
    transition: transform 0.5s ease;
    border-radius:0 0 12px 12px;
}

.cart img{
    border-radius: 12px 12px 0 0;
    border-bottom: 1px solid #e65a09;
}

.cart:hover{
    transform: scale(1.08);
    border-radius: 12px;
}

.badge{
    animation: spin 5s linear infinite;
}

@keyframes spin {
    to{

        transform: rotate(360deg);
    }
}

.deals{
    position: relative;
    /* background: url('./assets/deal-bloom.png'); */
    /* min-width: 361px; 
    min-height: 185px; */
    border-radius: 14px;
}


.deals::after{
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    border-radius: 14px;
}


.deals-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 1rem;
}

.ana{
    grid-row: 2/3;
    max-width: 366px;
    max-height: 170px;
    justify-self: end;
}

.bloom{
    max-width: 366px;
    max-height: 170px;
    justify-self: end;
}
.zabo{
    grid-column: 2 / 4;
    grid-row: 1/3;
    object-fit: fill;
    width:  748px;
    height: 356px;
    justify-self: start;
    
    
}

/* responsive */

@media screen and (max-width: 576px) {
    .hero{
        flex-direction: column-reverse;
        

    }

    main,footer,
    .navigation,
    .hero-text{
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .hero-text{
        width: 100%;
        align-self: flex-start;
        margin-top: 40px;
    }

    .hero-title, .title{
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .description{
        font-size: 14px;
        line-height: 17px;
    }

    .hero-image{
        width: 100%;
        padding-right: 0;
    }
    .cart-title,
    .cart-price,
    .btn-cart{
        font-size: 1rem;
    }
    
    .deals-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5rem;
    }

    .bloom,
    .ana,
    .zabo{
        width: 366px;
        height: 185px;
        justify-self: center;
    }

    .zabo{
        grid-row: 3 / 4;
        grid-column: 1 / 2;
    }


    /* footer */

    footer,
    .footer-menu{
        flex-direction: column;
    }

    .description{
        margin-top: 5px;
    }

}


@media (min-width:577px) and (max-width:890px) {
    .hero{
        align-items: end;
    }

    .hero-title, .title{
        font-size: 2rem;
        line-height: 2.5rem;
    }
    
    .description{
        font-size: 16px;
        line-height: 24px;
    }

    .hero-text{
        width: 100%;
        align-self: end;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .hero-image{
        width: 100%;
    }

    .cart-container{
        justify-items: center ;
    }

    .deals-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5rem;
    }

    .bloom,
    .ana,
    .zabo{
        width: 366px;
        height: 185px;
        justify-self: center;
    }

    .zabo{
        grid-row: 3 / 4;
        grid-column: 1 / 2;
    }

    /* footer */



    footer{
        flex-direction: column;
        align-items: center;

    }

    .footer-logo{
        text-align: center;
        align-items: center;
    }

    .footer-menu{
        gap: 50px;
    }
    .first-menu,
    .second-menu{
        text-align: center;
    }
}


@media (min-width:891px) and (max-width:1140px){
    .cart-container{
        grid-template-columns: repeat(3, 1fr);
    }

    /* .cart-8{
        grid-column-start: 3;
    } */
    .cart-9{
        display: block;
    }

    .cart-2,
    .cart-5,
    .cart-8{
        justify-self: center;
    }

    .cart-3,
    .cart-6,
    .cart-9{
        justify-self: end;
    }

    .deals-container{
        justify-content: center;
    }

    .zabo{
        max-width: 600px;
    }

    /* .bloom{
        grid-area: bloom;
        max-width: 361px;
    }
    
    .ana{
        grid-area: ana;
        max-width: 361px;

    }
    .zabo{
        grid-area: zoba;
        min-width: 361px;
    }

    .deals-container{
        grid-template-areas: 'bloom zoba zoba' 'ana zoba zoba';
    } */
}


@media (min-width:1141px) {
    .cart-container{
        grid-template-columns: repeat(4, 1fr);
    }


    .bloom,
    .ana{
        justify-self: center;
        width: 100%;
    }

    .deals-container{
        max-width: 1140px;
    }
}
